.countdownWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.countdownItem {
  color: #111;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 20px;
  position: relative;
  width: 60px;
  height: 60px;
}

.countdownItem span {
  color: #333;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
}

.countdownSvg {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
}

@media screen and (min-width: 768px) {
  .countdownWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .countdownItem {
    color: #111;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 30px;
    margin: 10px;
    padding-top: 10px;
    position: relative;
    width: 100px;
    height: 100px;
  }

  .countdownItem span {
    color: #333;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .countdownSvg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
  }
}
