@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.content {
  min-height: 87vh;
}

h1 {
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}
