.container {
  text-align: center;
  width: 80vw;
  margin: 0rem auto 1rem auto;
}

.singleImage {
  padding: 1rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .container {
    width: 60vw;
  }

  .singleImage {
    margin-bottom: 0;
  }
}
